body{
padding: 0;
margin: 0;
}


.nav-principal{
    background-color: #ffffff;
    z-index: 1;
    top: 0px;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    justify-content: flex-end;
    position: sticky;
    align-items: center;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    height: 60px;
}

.nav-link{
    padding: 10px 16px;
    text-decoration-line: none;
    overflow: hidden;
    color: hsla(210, 26%, 7%, 0.7);
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-overflow: ellipsis;
    margin-right: auto;
}

.cart-item {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.item-image img {
  max-width: 100px;
}

.item-info {
  flex-grow: 1;
  margin-left: 10px;
}

.item-name {
  margin: 0;
  font-size: 18px;
}

.item-price {
  margin: 5px 0;
  font-size: 16px;
}

.item-quantity label {
  font-size: 16px;
  margin-right: 5px;
}

.item-quantity input {
  width: 50px;
  font-size: 16px;
  text-align: center;
}

.item-remove button {
  background-color: #ff6666;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
